---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Web Engineer">
  <main>
    <section class="flex items-center" id="s-1">
      <img class="bg" src="bg-1.jpg" id="bg-1" alt="" />
      <div class="container">
        <div class="relative txt-hero">
          <h2 class="text-5xl">
            Alvise <span class="text-gradient short">Leal</span>
          </h2>
          <h1 class="text-[4.5rem] my-0 font-bold text-gradient">Web Engineer</h1>
          <span class="text-lg">Frontend specialized, <span class="text-gradient short">Full-Stack</span> capabilities</span>
        </div>
      </div>
    </section>

    <Card title="Introduction" header="What I do?">
      <p>
        Well, it could be considered that I am just a Front-End developer who creates websites, but that wouldn't fully cover everything I
        can do.
      </p>
      <p>
        Web technologies allow for a wide range of solutions for different needs of companies or institutions, from dynamically and
        aesthetically presenting their image to providing solutions and facilities for users of web applications.
      </p>
    </Card>

    <Card title="Expertice" header="Does anyone can do the same as me?">
      <p>Yes, anyone can create a website, even for free.</p>
      <p>
        However, quality and professionalism are significant distinguishing factors that are not easily obtained, and that's where the main
        differentiator lies. Technologies are meant to be leveraged and used to their fullest potential, and that's where I excel,
        implementing the most suitable stack for the client's objectives and optimizing its implementation from aesthetic design to flawless
        performance.
      </p>
    </Card>

    <Card title="Skill" header="Tools I use">
      <p>Yes, anyone can create a website, even for free.</p>
      <p>
        However, quality and professionalism are significant distinguishing factors that are not easily obtained, and that's where the main
        differentiator lies. Technologies are meant to be leveraged and used to their fullest potential, and that's where I excel,
        implementing the most suitable stack for the client's objectives and optimizing its implementation from aesthetic design to flawless
        performance.
      </p>
    </Card>
  </main>
</Layout>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  gsap.registerPlugin(ScrollTrigger)
  import Lenis from '@studio-freight/lenis'
  /* Lenis compatibility */
  const lenis = new Lenis()
  lenis.on('scroll', ScrollTrigger.update)
  gsap.ticker.add((time) => {
    lenis.raf(time * 1000)
  })
  gsap.ticker.lagSmoothing(0)

  gsap.from('#bg-1', { duration: 2, opacity: 0 })
  gsap
    .timeline({ defaults: { duration: 1.8, ease: 'power2' } })
    .from('h2', { y: '40%', clipPath: 'inset(0 0 100% 0)', opacity: 0 })
    .from('h1', { y: '40%', clipPath: 'inset(0 0 100% 0)', opacity: 0 }, 0)

  let cards: Element[] = gsap.utils.toArray('.card')
  cards.forEach((element) => {
    let q = gsap.utils.selector(element)
    gsap
      .timeline({
        scrollTrigger: {
          trigger: element,
          markers: true,
          start: 'start center'
        },
        defaults: { ease: 'power1', duration: 1 }
      })
      .from(q('h3'), { opacity: 0, x: 20 })
      .from(q('h4'), { opacity: 0, x: 20 }, '<10%')
      .from(q('p'), { opacity: 0, x: 20, stagger: 0.2 }, '<10%')
  })
  console.log('cards', cards)
</script>

<style lang="scss">
  p {
    @apply mb-4;
  }
</style>
