---
import Layout from '../layouts/Layout.astro'
import TheExperience from '../components/TheExperience4.vue'
import Preloader from '../components/Preloader.astro'
---

<Layout title="Portfollio">
  <!-- <div class="cont h-screen">
    <canvas id="canvas3d"></canvas>
  </div> -->
  <TheExperience client:load />
  <Preloader />
  <div class="daback"></div>
  <section class="as"></section>
  <section class="as3"></section>
  <section class="as"></section>
  <section class="as"></section>
  <section class="as"></section>
</Layout>

<script>
  import { gsap } from 'gsap'
  const canvas = document.getElementById('canvas3d')

  window.addEventListener(
    'load',
    (a) => {
      console.log('loaded', a)
      gsap.to('#preloader', { clipPath: 'circle(0%)', duration: 1.2, ease: 'power2.in' })
    },
    false
  )

  /* const app = new Application(canvas)
  app.load('https://prod.spline.design/nESDY-OPocATTzfC/scene.splinecode') */
</script>

<style>
  html,
  body {
  }
  canvas {
    display: block;
  }
  section {
    @apply h-screen;
  }
  .daback {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* background: linear-gradient(89.7deg, rgba(0, 0, 0, 1) -10.7%, rgba(53, 92, 125, 1) 88.8%); */
  }
</style>
