---
import Layout from '../layouts/Layout.astro'
import TheExperience from '../components/TheExperience4.vue'
import Preloader from '../components/Preloader.astro'
---

<Layout title="Portfollio">
  <!-- <div class="cont h-screen">
    <canvas id="canvas3d"></canvas>
  </div> -->
  <TheExperience client:load />
  <Preloader />
  <section class="as"></section>
  <section class="as3"></section>
  <section class="as"></section>
  <section class="as"></section>
  <section class="as"></section>
</Layout>

<script>
  import { gsap } from 'gsap'
  const canvas = document.getElementById('canvas3d')

  window.addEventListener(
    'load',
    (a) => {
      console.log('loaded', a)
      gsap.to('#preloader', { clipPath: 'circle(0%)', duration: 1.2, ease: 'power2.in' })
    },
    false
  )

  /* const app = new Application(canvas)
  app.load('https://prod.spline.design/nESDY-OPocATTzfC/scene.splinecode') */
</script>

<style>
  html,
  body {
  }
  canvas {
    display: block;
  }
</style>
