---
interface Props {
  title: string
  header: string
  reversed: boolean
}
const { title, header, reversed } = Astro.props
---

<section id={`c-${title}`} class={`flex items-center card ${reversed ? 'reversed' : ''}`}>
  <div class="container">
    <div class="md:max-w-[65%] ml-0">
      <h3 class="text-gradient text-xl short mb-1">{title}</h3>
      <h4 class="text-bold text-4xl mb-3">{header}</h4>
      <slot />
    </div>
  </div>
</section>

<script define:vars={{ title }}></script>

<style lang="scss">
  p {
    margin-bottom: 2rem;
  }
  /* section {
    background: rgb(17, 17, 17);
    background: linear-gradient(185deg, rgba(17, 17, 17, 1) 35%, rgba(227, 104, 38, 0.6026785717285717) 100%);
    &.reversed {
      background: rgba(227, 104, 38, 0.6026785717285717);
      background: linear-gradient(170deg, rgba(227, 104, 38, 0.6026785717285717) 15%, rgba(17, 17, 17, 1) 90%);
    }
  } */
</style>
