---

---

<div id="preloader" class="w-screen h-screen bg-[#131313] fixed z-50 top-0 left-0 flex justify-center items-center">Loading...</div>
<script>
  const el = document.getElementById('preloader')

  /*   const doSomething = () => {
    console.log('complete')
    el?.classList.add('hidden')
  }
  window.addEventListener('load', () => {
    console.log('loaded')
  })
  if (document.readyState === 'complete') {
    doSomething()
  } else {
    document.onreadystatechange = function () {
      if (document.readyState == 'complete') {
        doSomething()
      }
    }
  } */
</script>
<style>
  #preloader {
    clip-path: circle(100%);
  }
</style>
