---
import Navbar from '../components/Navbar.astro'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans" />
    <meta name="generator" content={Astro.generator} />
    <title>Alvise | {title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<script></script>

<style is:global lang="scss">
  :root {
    --accent: 136, 58, 234;
    --accent-light: #ebe8e4;
    --accent-dark: #fefa23;
    --azul: #1f282d;
    --color-font: #ebe8e4;
    --accent-gradient: linear-gradient(187deg, rgba(31, 40, 45, 1) 0%, rgba(227, 104, 38, 1) 80%);
    --short-gradient: linear-gradient(187deg, rgba(31, 40, 45, 1) 0%, rgba(227, 104, 38, 1) 40%);
  }
  html {
    font-family: 'Work Sans', system-ui, sans-serif;
    background: #131313;
    background-size: 224px;
    color: #ebe8e4;
    font-size: 20px;
  }
  .text-gradient {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &.short {
      font-weight: 600;
      background: var(--short-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  section {
    @apply h-screen;
    line-height: 1.6;
    position: relative;
  }
  img.bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 0% 100%;
    transform: scaleX(-1);
    height: 100%;
    width: 100%;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
